<mat-spinner class="spinner" *ngIf="!showinfo"></mat-spinner>
<br><br>
<br>
<br>
<div *ngIf="showinfo" class="container">

    <h1> <strong>       <b>  {{message}}</b> </strong> </h1>
    <br>

    <div style="text-align: center">
        <button mdbBtn type="button" block="true" color="success" outline="true" (click)="insert()" mdbWavesEffect>Insert</button>
    </div>
    <br>
    <table mdbTable>
        <thead class="black white-text">
            <tr>
                <th *ngFor="let head of headElements" scope="col">{{head}} </th>
            </tr>
        </thead>
        <tbody>
            <tr mdbTableCol *ngFor="let item of listInfo;let i = index">
                <td> {{i}}</td>
                <td>{{item.public_title}}</td>
                <td> {{item.desc_publication}}</td>
                <td>{{item.author}}</td>
                <td>{{item.comments}}</td>
                <td> <button mdbBtn type="button" color="danger" outline="true" (click)="delete(item.id_publication)" mdbWavesEffect>Delete</button></td>
                <td><button mdbBtn type="button" color="secondary" outline="true" (click)="update(item)" mdbWavesEffect>Update</button></td>
            </tr>
        </tbody>
    </table>



</div>
<br>
<br>
<br>

<br>
<br>