<div style="align-items: center" class=" prin">
    <div class=" text-center">
        <h4 class=" w-100 font-weight-bold">
            {{tittle}} person</h4>
    </div>
    <br>
    <div class="container">
        <form [formGroup]="registerForm" (ngSubmit)="insertOrUpdatePerson()">
            <div class="row">
                <div class="nombre">
                    <input placeholder="First name" type="text" formControlName="nombre" class="form-control medio" [(ngModel)]="person.name" [ngClass]="{ 'is-invalid': submitted && f.nombre.errors }" />
                    <div *ngIf="submitted && f.nombre.errors" class="invalid-feedback">
                        <div *ngIf="f.nombre.errors.required">Name Required</div>
                    </div>
                </div>

                <div class="apellido">
                    <input placeholder="Last name" type="text" formControlName="apellido" class="form-control medio" [(ngModel)]="person.last_name" [ngClass]="{ 'is-invalid': submitted && f.apellido.errors }" />
                    <div *ngIf="submitted && f.apellido.errors" class="invalid-feedback">
                        <div *ngIf="f.apellido.errors.required">Last Name Required</div>
                    </div>
                </div>
            </div>
            <br>
            <input placeholder="Birthdate" type="text" formControlName="Birthdate" class="form-control" [(ngModel)]="person.birthdate" [ngClass]="{ 'is-invalid': submitted && f.Birthdate.errors }" />
            <div *ngIf="submitted && f.Birthdate.errors" class="invalid-feedback">
                <div *ngIf="f.Birthdate.errors.required">Birthdate Required</div>
            </div>
            <br>
            <div class="row">
                <div class="nombre">
                    <input placeholder="Type person" type="text" formControlName="type" class="form-control" [(ngModel)]="person.type" [ngClass]="{ 'is-invalid': submitted && f.type.errors }" />
                    <div *ngIf="submitted && f.type.errors" class="invalid-feedback">
                        <div *ngIf="f.type.errors.required">type Required</div>
                    </div>
                </div>
                <div class="apellido">
                    <input placeholder="articles" type="number" formControlName="articulos" class="form-control" [(ngModel)]="person.articulos" [ngClass]="{ 'is-invalid': submitted && f.articulos.errors }" />
                    <div *ngIf="submitted && f.articulos.errors" class="invalid-feedback">
                        <div *ngIf="f.articulos.errors.required">Articles Required</div>
                    </div>
                </div>
            </div>
            <br>
            <div class="form-group md-8" style="text-align: center">
                <button class="btn btn-primary">{{tittle}} Person</button>
            </div>
        </form>
    </div>
</div>